body {
    font-size: 20px;
}
button {
    background-color: rgb(6, 76, 97);
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid white;    
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(255, 255, 255);
    color: rgb(6, 76, 97);
    border: 2px solid rgb(6, 76, 97);
}